**
!/.gitignore
!/README.md
!/home
!/home/tom
!/home/tom/.bashrc
!/home/tom/.vimrc
!/home/tom/.vimrc.bundles
!/home/tom/.vim
!/home/tom/.vim/colors
!/home/tom/.vim/colors/tomify.vim
!/etc
!/etc/init.d
!/etc/init.d/redis_6379
!/etc/redis
!/etc/redis/6379.conf
!/var
!/var/redis
!/var/redis/6379
!/var/redis/6379/.keep
